/* #portfolio {
  height: 100vh;
  overflow: scroll;
  padding: 10vh 0px;
}
.imgsec {
  height: 30vh;
  margin-bottom: 5vh;
  overflow: hidden;

  position: relative;
}
.imgsec:hover img {
  animation: portfolioani 7s linear;
}
.imgsec:hover {
  transform: scale(1.03);
  transition: 1s ease;
}
@keyframes portfolioani {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
} */
